<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <!--NOTE: <%= path === '/' ? 'active' : '' %> as long as is inside <%= path(and others) will be treated as ejs syntax instead of strings -->
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/add-product' ? 'active' : '' %>"
                    href="/admin/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>