<%- include('partials/head') %>

    <body>
        <h1>This is the <%= name %> page </h1>
        <form action="/add-user" method="POST">
            <label for="name">Name</label>
            <input id="name" name="name" type="text">
            <!-- more symatic form button  -->
            <button type="submit">Add User</button>
        </form>
    </body>

    </html>