<%- include('partials/head') %>

    <body>
        <h1>This is the <%= name %> page </h1>
        <ul>
            <% names.map((name)=> { %>
                <li>
                    <%= name %>
                </li>
                <% })%>
        </ul>
    </body>

    </html>